<!-- content -->
<main class="tw-min-h-[calc(100vh-518px)]">
  <section class="container tw-max-w-6xl tw-mx-auto tw-px-3 tw-mt-10">
    <app-client-cart-nav></app-client-cart-nav>
  </section>
  <section class="container tw-max-w-6xl tw-mx-auto">
    <h1 class="tw-text-center tw-mt-4 tw-font-semibold tw-text-2xl tw-uppercase">Đặt hàng thành công</h1>
    <p class="tw-text-center tw-mt-2"> Cảm ơn bạn đã đặt hàng của Tea House. Nhân viên sẽ gọi điện từ số điện thoại bạn đã cung cấp để Confirm (Xác nhận) lại với bạn trong thời gian sớm nhất để xác nhận đơn hàng. </p>
    <div class="tw-flex tw-items-center tw-justify-center tw-mt-2">
      <a href="/#/products">
        <button class="tw-uppercase tw-h-8 tw-text-[#D9A953] tw-font-semibold tw-text-sm tw-border-[#D9A953] tw-border-2 tw-px-3 tw-transition tw-ease-linear tw-duration-300 hover:tw-bg-[#D9A953] hover:tw-text-white">
          <i class="fas fa-long-arrow-alt-left"></i> Tiếp tục mua hàng </button>
      </a>
      <a href="/#/my-account/cart" class="tw-ml-2">
        <button class="tw-uppercase tw-h-8 tw-text-[#D9A953] tw-font-semibold tw-text-sm tw-border-[#D9A953] tw-border-2 tw-px-3 tw-transition tw-ease-linear tw-duration-300 hover:tw-bg-[#D9A953] hover:tw-text-white"> Kiểm tra đơn hàng <i class="fas fa-long-arrow-alt-right"></i>
        </button>
      </a>
    </div>
  </section>
</main>
<!-- end content -->