<ul class="tw-flex tw-justify-center tw-items-center">
  <li class="tw-text-2xl tw-px-2">
    <a routerLink="/cart" class="tw-text-black tw-uppercase tw-transition tw-ease-linear tw-duration-200 hover:tw-text-black">SHOPPING CART</a>
  </li>
  <li class="text-md tw-text-gray-400 tw-px-2 tw-hidden md:tw-block">
    <i class="fas fa-chevron-right"></i>
  </li>
  <li class="tw-text-2xl tw-px-2">
    <a routerLink="/cart/checkout" class="tw-uppercase tw-text-gray-400 tw-transition tw-ease-linear tw-duration-200 hover:tw-text-black">Checkout details</a>
  </li>
  <li class="text-md tw-text-gray-400 tw-px-2 tw-hidden md:tw-block">
    <i class="fas fa-chevron-right"></i>
  </li>
  <li class="tw-text-2xl tw-px-2">
    <span class="tw-uppercase tw-text-gray-400 tw-cursor-default">Order Complete</span>
  </li>
</ul>