<section class="tw-container tw-max-w-6xl tw-mx-auto tw-py-7 tw-px-3">
  <h2 class="tw-uppercase tw-text-center tw-block tw-text-[#D9A953] tw-text-2xl tw-font-semibold">DANH MỤC SẢN PHẨM</h2>
  <div class="tw-grid tw-grid-cols-2 md:tw-grid-cols-4 tw-gap-4 tw-mt-4">
    <div>
      <a href="/#/category/${cate.id}" style="background-image: url(https://res.cloudinary.com/levantuan/image/upload/v1648982814/asm-react-ts/zzmscguyf0waippl3f98.jpg);" class="tw-block tw-bg-cover tw-bg-center tw-pt-[100%]"></a>
      <div class="tw-text-center tw-py-2 tw-leading-3">
        <h3>
          <a href="/#/category/${cate.id}" class="tw-block tw-uppercase tw-text-lg tw-font-semibold tw-text-black">Name</a>
        </h3>
        <span class="tw-uppercase tw-text-xs">10 sản phẩm</span>
      </div>
    </div>
    <div>
      <a href="/#/category/${cate.id}" style="background-image: url(https://res.cloudinary.com/levantuan/image/upload/v1648982814/asm-react-ts/zzmscguyf0waippl3f98.jpg);" class="tw-block tw-bg-cover tw-bg-center tw-pt-[100%]"></a>
      <div class="tw-text-center tw-py-2 tw-leading-3">
        <h3>
          <a href="/#/category/${cate.id}" class="tw-block tw-uppercase tw-text-lg tw-font-semibold tw-text-black">Name</a>
        </h3>
        <span class="tw-uppercase tw-text-xs">10 sản phẩm</span>
      </div>
    </div>
    <div>
      <a href="/#/category/${cate.id}" style="background-image: url(https://res.cloudinary.com/levantuan/image/upload/v1648982814/asm-react-ts/zzmscguyf0waippl3f98.jpg);" class="tw-block tw-bg-cover tw-bg-center tw-pt-[100%]"></a>
      <div class="tw-text-center tw-py-2 tw-leading-3">
        <h3>
          <a href="/#/category/${cate.id}" class="tw-block tw-uppercase tw-text-lg tw-font-semibold tw-text-black">Name</a>
        </h3>
        <span class="tw-uppercase tw-text-xs">10 sản phẩm</span>
      </div>
    </div>
    <div>
      <a href="/#/category/${cate.id}" style="background-image: url(https://res.cloudinary.com/levantuan/image/upload/v1648982814/asm-react-ts/zzmscguyf0waippl3f98.jpg);" class="tw-block tw-bg-cover tw-bg-center tw-pt-[100%]"></a>
      <div class="tw-text-center tw-py-2 tw-leading-3">
        <h3>
          <a href="/#/category/${cate.id}" class="tw-block tw-uppercase tw-text-lg tw-font-semibold tw-text-black">Name</a>
        </h3>
        <span class="tw-uppercase tw-text-xs">10 sản phẩm</span>
      </div>
    </div>
  </div>
</section>