<section class="tw-container tw-max-w-6xl tw-mx-auto tw-py-7 tw-px-3">
  <h2 class="tw-uppercase tw-text-center tw-block tw-text-[#D9A953] tw-text-2xl tw-font-semibold">DANH MỤC SẢN PHẨM</h2>
  <div class="tw-grid tw-grid-cols-2 md:tw-grid-cols-4 tw-gap-4 tw-mt-4">
    <div *ngFor="let cate of categories">
      <a href="/#/category/${cate.id}" [ngStyle]="{'background-image': 'url('+ cate.image +')'}" class="tw-block tw-bg-cover tw-bg-center tw-pt-[100%]"></a>
      <div class="tw-text-center tw-py-2 tw-leading-3">
        <h3>
          <a href="/#/category/${cate.id}" class="tw-block tw-uppercase tw-text-lg tw-font-semibold tw-text-black">{{ cate.name }}</a>
        </h3>
        <span class="tw-uppercase tw-text-xs">10 sản phẩm</span>
      </div>
    </div>
  </div>
</section>