<div class="container p-3">
  <div class="row align-items-center">
    <div class="col">
      <h2>Danh sách SP</h2>
    </div>

    <div class="col">
      <a [routerLink]="['/admin/product/add']" class="d-block text-end">
        <button class="btn btn-sm btn-primary">Thêm SP</button>
      </a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên SP</th>
        <th scope="col">Ảnh SP</th>
        <th scope="col">Giá SP</th>
        <th scope="col">Danh mục SP</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.name }}</td>
        <td>
          <img [src]="product.image" alt="" [ngStyle]="{'width': '100px', 'height': '100px', 'object-fit': 'cover'}" >
        </td>
        <td>{{ product.price | formatCurrency }}</td>
        <td>{{ product.category?.name }}</td>
        <td>
          <span class="badge bg-primary" *ngIf="product.status; else elseBlock">Hiển thị</span>
          <ng-template #elseBlock>
            <span class="badge bg-secondary">Ẩn</span>
          </ng-template>
        </td>
        <td>
          <a [routerLink]="['/admin/product', product.id, 'edit']">
            <button class="btn btn-sm btn-primary m-1">Edit</button>
          </a>

          <button class="btn btn-sm btn-danger" (click)="handleRemove(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>