<section class="tw-py-16 tw-mt-16 tw-bg-center tw-bg-cover tw-bg-no-repeat group" style="background-image: url(https://res.cloudinary.com/levantuan/image/upload/v1642602275/fpoly/asm-js/pizi_coffe_1_r8_clients_say_row_bg_img_vc7e3r.jpg)">
  <div class="tw-container tw-max-w-6xl tw-mx-auto">
    <div>
      <h3 class="tw-uppercase tw-text-center tw-block text-[#D9A953] tw-text-2xl tw-font-semibold">KHÁCH HÀNG NÓI GÌ</h3>
      <p class="tw-text-center tw-text-sm tw-text-gray-300 tw-font-semibold tw-mt-1">1500+ KHÁCH HÀNG HÀI LÒNG</p>
    </div>
    <ul id="home__feedback">
      <!-- <li class="tw-text-center tw-mt-9">
        <img src="https://res.cloudinary.com/levantuan/image/upload/v1642602479/fpoly/asm-js/chang-trai-lai-3-dong-mau-va-nhung-bac-si-noi-tieng-tren-mang-4abe91-300x300_uah3ea.jpg" alt="" class="tw-w-24 tw-h-24 tw-object-cover tw-rounded-full tw-mx-auto">
        <ul class="tw-flex tw-text-yellow-500 tw-justify-center tw-mt-2">
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
        </ul>
        <p class="tw-font-semibold tw-text-gray-300 tw-text-xl tw-italic">Lê Văn Tuân</p>
        <p class="tw-mt-1 tw-text-gray-300"> Mình rất thích đưa khách hàng của mình đến đây bởi vì phong cách rất chuyên nghiệp.Hơn nữa thức uống ở đây rất ngon, có hương vị rất khác biệt, các vị khách của mình vô cùng thích. </p>
      </li>
      <li class="tw-text-center tw-mt-9">
        <img src="https://res.cloudinary.com/levantuan/image/upload/v1644636235/assignment-js/img_1062_89af8c0f-3d9b-49c5-4b09-33fc8d0a2f0d-300x300_rb8mcq.jpg" alt="" class="tw-w-24 tw-h-24 tw-object-cover tw-rounded-full tw-mx-auto">
        <ul class="tw-flex tw-text-yellow-500 tw-justify-center tw-mt-2">
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
        </ul>
        <p class="tw-font-semibold tw-text-gray-300 tw-text-xl tw-italic">Ngô Lệ Hằng</p>
        <p class="tw-mt-1 tw-text-gray-300"> Nếu như muốn được thư giãn hãy nghe một bản nhạc. Nếu muốn tìm một hương vị trà chanh đúng gu nhất với mình thì hãy đến với Tea House. Nơi luôn khiến mình hài lòng nhất. </p>
      </li> -->
      <li class="tw-text-center tw-mt-9">
        <img src="https://res.cloudinary.com/levantuan/image/upload/v1644636291/assignment-js/4302df8958f010703fef2d8187d869a6-280x280_yvpuzs.jpg" alt="" class="tw-w-24 tw-h-24 tw-object-cover tw-rounded-full tw-mx-auto">
        <ul class="tw-flex tw-text-yellow-500 tw-justify-center tw-mt-2">
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
        </ul>
        <p class="tw-font-semibold tw-text-gray-300 tw-text-xl tw-italic">Nguyễn Quang Vinh</p>
        <p class="tw-mt-1 tw-text-gray-300"> Không gian được thiết kế quá tuyệt vời luôn giúp mình có nhiều idea và cảm hứng để mình sáng tạo. Hơn nữa chất lượng đồ uống ở đây vô cùng vừa ý mình, Tea House là sự lựa chọn tuyệt vời. </p>
      </li>
    </ul>
  </div>
</section>